ENV=development
DATABASE_URL=postgresql://robo_c3po:ZKZsg]h)fPEC9CVg@34.134.35.236:5432/Darwin
BACKEND_LOGIN=
BACKEND_PASSWORD=
GCP_STORAGE_KEY=
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=
EVOLUTION_BASE_URL=http://34.41.144.44:8080
EVOLUTION_INSTANCE=Psicologa Juliana Empatizar
EVOLUTION_API_KEY=
